table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}
.details {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}
.details div {
    margin-bottom: 5px;
}

.nested-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.nested-table th, .nested-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.nested-table th {
    background-color: #e0e0e0;
}

.nested-table tr:hover {
    background-color: #f1f1f1;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}